doctype html
html
  head
    title Bike Track Finder
    link(rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="")
    link(rel="stylesheet" href='/stylesheets/style.css')
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin="")
    script(src='/javascripts/functions.js')
    script var data = !{JSON.stringify(data)}
    script var query = !{JSON.stringify(query)}
  div(id="headerField")
    h1(id="mainHeader") Bike Track Map
  body
    div()
      input(placeholder="Latitude" value=query.lat id="lat" type="text")
      input(placeholder="Longitude" value=query.lon id="lon"  type="text")
      input(placeholder="radius (km)" value=query.radius id="radius"  type="text")
      button(type="button" id="searchButton") Search
    div(id="warnLabel")
    div(id="map")
      div(id="mapid" style="width: 60vw; height: 80vh")
      div(id="trailList")
        script(src='/javascripts/favTable.js')
  p Warning: On full zoom out of map Latitude and Longitude clicks have irregular values due to map wrap.

script(src='/javascripts/leafmapSearch.js')
script(src='/javascripts/buttons.js')
script(src='/javascripts/values.js')